@model IEnumerable<TareaMO>

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listaPeriodicidad = ViewBag.listaPeriodicidad;
    List<SelectListItem> listaMaquina = ViewBag.listaMaquina;
}

<div class="right_col" role="main">
    <div class="w-100 text-center d-inline-block">
        <h1 class="text-dark">Tareas del Plan de Mantenimiento #</h1>
    </div>
    <div class="row">
        <div class="col-2 x_panel contenedorFiltros">
                <button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                        data-target="#exampleModal" onclick="Abrir(0)">
                    <i class="fa fa-plus">
                        &ensp;  NUEVA TAREA
                    </i>
                </button>
            <h6 class="text-dark">Prioridad</h6>
            <a class="text-danger">
                <i class="fa fa-warning">
                    &ensp; <span>Alta</span>
                </i>  
            </a>
            <a class="text-info">
                <i class="fa fa-star-half-o">
                    &ensp; <span>Media</span>
                </i> 
            </a>
            <a>
                <i class="fa fa-sort-amount-desc">
                    &ensp; <span>Baja</span>
                </i> 
            </a>

        </div>
        <div class="col-10">
            <div class="x_panel">
                <form id="frmReporte">
                
                    <table class="table" id="table">
                        <thead class="thead-dark">
                            <tr>
                                <th># Plan</th>
                                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.CodigoMaquina)</th>
                                <th>@Html.DisplayNameFor(model => model.Periodicidad)</th>
                                <th>@Html.DisplayNameFor(model => model.Prioridad)</th>
                                <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbDatos">
                        </tbody>
                    </table>
                </form>

            </div>
        </div>
    </div>



</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center w-100">
                    <h4 class="modal-title" id="lblTitulo"></h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Nombre de Tarea</label>
                            <input type="text" id="txtIdDoctor"
                                   class="form-control enviar" name="nombreTarea" />
                        </div>

                        <div class="form-group">
                            <label>Periodicidad</label>
                            @Html.DropDownList("Id_Periodicidad", listaPeriodicidad,
                           new { @class = "form form-control enviar" })
                        </div>

                        <div class="form-group">
                            <label>Duracion Estimada</label>
                            <input type="text" id=""
                                   class="form-control enviar" name="duracionEstimada " />
                        </div>
                        <div class="form-group">
                            <label>Fecha Inicio</label>
                            <input type="datetime" id="dtFechaInicio"
                                   class="form-control" name="fechaInicio" />
                        </div>

                    </div>
                    <!--DIVISIONCOLLLL-->
                    <div class="col-6">
                        <div class="form-group">
                            <label>Codigo de maquina</label>
                            @Html.DropDownList("Id_Maquina", listaMaquina,
                           new { @class = "form form-control enviar" })
                        </div>
                        <div class="form-group">
                            <label>Prioridad</label>
                            <select class="form form-control" name="prioridad">
                                <option value="value2">Baja</option>
                                <option value="value3">Media</option>
                                <option value="value3">Alta</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tiempo de Para</label>
                            <input type="text" id="txtIdDoctor"
                                   class="form-control enviar" name="tiempoPara" />
                        </div>
                        <div class="form-group">
                            <label>Clasificación</label>
                            <input type="text" id=""
                                   class="form-control enviar" name="duracionEstimada " />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea class="form-control enviar" name="descripcion"></textarea>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Suministros</label>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary"
                                            data-toggle="modal"
                                            data-target="#modal" onclick="AbrirSubPopupNombreSede()">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Técnicos</label>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary"
                                            data-toggle="modal"
                                            data-target="#modal" onclick="AbrirSubPopupNombreSede()">
                                       n
                                        @*<i class="fa fa-plus-circle"></i>*@
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCerrar">

                    Cancelar
                </button>
            </div>
            <div id="divError">

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblSubPopup"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divModal">
                @*<label>Ingrese nombre completo</label>
                <input type="text" id="txtnc" class="form-control" onkeyup="filtrarNom()"/>*@
                <div id="divTabla">
                    @*<table class="table" id="tablaPopup">


                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre Completo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbDatosPopup">
                            </tbody>

                        </table>*@
                </div>

            </div>

            <div class="modal-footer">


                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCerrarPopup">

                    Cancelar
                </button>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/generic.js"></script>
    <script>
        var nombreTabla = "";
        $(function () {
            $("#dtFechaInicio").datepicker({
                dateFormat: "dd/mm/yy",
                changeYear: true
            });
        });

        function filtrarNom() {
            var nomcompleto = document.getElementById("txtnc").value;
            //pintar("Doctor/listarPersonaDoctor/?nombreCompleto="+nomcompleto,
            //	["iidPersona", "nombreCompleto"], "iidPersona",
            //	"Persona", false, false, "tbDatosPopup", "tablaPopup", "nombreCompleto")
            if (nombreTabla == "Persona") {
                pintarMultiplePopup("divTabla",
                    "Doctor/listarPersonaDoctor/?nombreCompleto=" + nomcompleto,
                    ["Id", "Nombre Completo"], ["iidPersona", "nombreCompleto"],
                    "iidPersona", "nombreCompleto");
            } else if (nombreTabla == "Sede") {
                pintarMultiplePopup("divTabla", "Sede/listarSede/?nombreSede=" + nomcompleto,
                    ["Id", "Nombre Sede"], ["iidSede", "nombreSede"],
                    "iidSede", "nombreSede");
            } else if (nombreTabla == "Especialidad") {
                pintarMultiplePopup("divTabla",
                    "Especialidad/buscarEspecialidad/?nombreEspecialidad=" + nomcompleto,
                    ["Id", "Nombre Completo"], ["iidespecialidad", "nombre"],
                    "iidespecialidad", "nombre");
            }
        }

        function AbrirSubPopupNombreEspecialidad() {
            nombreTabla = "Especialidad";
            document.getElementById("lblSubPopup").innerHTML = "Buscar Especialidad";
            //pintar("Doctor/listarPersonaDoctor",
            //	["iidPersona", "nombreCompleto"], "iidPersona",
            //	"Persona", false, false, "tbDatosPopup", "tablaPopup", "nombreCompleto")
            document.getElementById("txtnc").value = "";
            pintarMultiplePopup("divTabla", "Especialidad/buscarEspecialidad",
                ["Id", "Nombre Completo"], ["iidespecialidad", "nombre"],
                "iidespecialidad", "nombre");
        }

        function AbrirSubPopup() {
            nombreTabla = "Persona";
            document.getElementById("lblSubPopup").innerHTML = "Buscar Persona";
            //pintar("Doctor/listarPersonaDoctor",
            //	["iidPersona", "nombreCompleto"], "iidPersona",
            //	"Persona", false, false, "tbDatosPopup", "tablaPopup", "nombreCompleto")
            document.getElementById("txtnc").value = "";
            pintarMultiplePopup("divTabla", "Doctor/listarPersonaDoctor",
                ["Id", "Nombre Completo"], ["iidPersona", "nombreCompleto"],
                "iidPersona", "nombreCompleto");
        }

        function AbrirSubPopupNombreSede() {
            nombreTabla = "Suministro";
            document.getElementById("lblSubPopup").innerHTML = "Buscar Suministrossss";
            //pintar("Sede/listarSede",
            //	["iidSede", "nombreSede"], "iidSede",
            //	"Sede", false, false, "tbDatosPopup", "tablaPopup", "nombreSede")
            // document.getElementById("txtnc").value = ""; //filtro de busqueda
            var url = "/suministros/listarSuministro"
            pintarMultiplePopup("divTabla", url ,
                ["Id", "Nombre Suministro"], ["id_Suministro", "nombre"],
                "id_Suministro", "nombre");
        }

        function listar() {
            var url = "/mantenimientoPreventivo/listarTareas";

            pintar(url,
                ["id_Tarea", "nombre", "codigoMaquina", "periodicidad", "prioridad", "fechaInicio"],
                "id_Tarea", "MantenimientoPreventivo", true);
        }

        window.onload = function () {
            listar();
        }

        function AsignarNombre(id, nom) {
            //alert(id + "-" + nom);
            if (nombreTabla == "Persona") {
                document.getElementById("txtNombrePersonaPopup").value = nom;
                document.getElementById("txtIdPersonaPopup").value = id;
            } else if (nombreTabla == "Sede") {
                document.getElementById("txtNombreSedePopup").value = nom;
                document.getElementById("iidSede").value = id;
            } else if (nombreTabla == "Especialidad") {
                document.getElementById("txtNombreEspecialidadPopup").value = nom;
                document.getElementById("iidEspecialidad").value = id;
            }
            document.getElementById("btnCerrarPopup").click();
        }

        function Guardar() {
            var frm = new FormData();
            enviar(frm);
            $.ajax({
                type: "POST",
                url: "guardarDatos",
                data: frm,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == "OK") {
                        correcto("¡Se guardo el Plan de mantenimiento con Exito!");
                        document.getElementById("btnCerrar").click();
                        var url = "listarPlan";
                        listar();
                    } else {
                        error("¡Ocurrio un error al guardar!")
                        document.getElementById("divError").innerHTML = data;
                    }
                }
            })
        }

        function Buscar() {
            var nombre = document.getElementById("nombre").value;
            var url = "Doctor/listarDoctor/?nombreCompleto=" + nombre;
            pintar(url,
                ["nombreCompleto", "especialidad", "nombreSede"],
                "iidDoctor", "Doctor", true);
            //var contenido = "";
            //var tbody = document.getElementById("tbDatos");

            //	$.get("Especialidad/buscarEspecialidad/?nombreEspecialidad=" + nombre, function (data) {

            //		for (var i = 0; i < data.length; i++) {
            //			contenido += "<tr>";
            //			contenido += "<td>" + data[i].iidespecialidad + "</td>";
            //			contenido += "<td>" + data[i].nombre + "</td>";
            //			contenido += "<td>" + data[i].descripcion + "</td>";
            //			contenido += `
            //			<td>

            //				<i class="fa fa-trash btn btn-danger" aria-hidden="true"
            //				   onclick="EliminarEspecialidad(${data[i].iidespecialidad})">

            //				</i>

            //				<a class="fa fa-edit btn btn-primary" aria-hidden="true"
            //				   asp-controller="Pagina" asp-action="Editar"
            //				   asp-route-id="${data[i].iidespecialidad}">

            //				</a>

            //			</td>
            //               `
            //			contenido += "</tr>";
            //		}


            //		tbody.innerHTML = contenido;
            //	})

        }






        function Limpiar() {
            document.getElementById("nombre").value = "";
            //document.getElementById("frmFormulario").submit();
            var url = "Doctor/listarDoctor";
            pintar(url,
                ["nombreCompleto", "especialidad", "nombreSede"],
                "iidDoctor", "Doctor", true);
        }

        function Eliminar(id) {

            mostrarModal().then(res => {
                if (res.value) {
                    //var frmEnviarEliminar = document.getElementById("frmEnviarEliminar");
                    //frmEnviarEliminar.submit();
                    $.get("Doctor/eliminar/?id=" + id, function (rpta) {

                        if (rpta == 1) {
                            correcto("Se elimino correctamente la especialidad");
                            listar();
                        } else {
                            error("Ocurrio un error al eliminar");
                        }
                    })
                }

            })

        }


        function Abrir(id) {
            LimpiarDatos();
            document.getElementById("divError").innerHTML = "";
            if (id != 0) {
                document.getElementById("lblTitulo").innerHTML = "Editar Plan de Mantenimiento";
                $.get("Doctor/recuperarDoctor/?id=" + id, function (data) {
                    obj("txtIdDoctor", data.iidDoctor);
                    obj("txtIdPersonaPopup", data.iidPersona);
                    obj("txtNombrePersonaPopup", data.nombreCompleto);
                    obj("iidSede", data.iidSede);
                    obj("iidEspecialidad", data.iidEspecialidad);
                    obj("txtSueldo", data.sueldo);
                    obj("dtFechaContrato", data.fechaContratoCadena);
                    obj("txtNombreSedePopup", data.nombreSede);
                    obj("txtNombreEspecialidadPopup", data.especialidad);
                });
                document.getElementById("divPersona").style.display = "none";
            } else {
                // document.getElementById("divPersona").style.display = "block";
                document.getElementById("lblTitulo").innerHTML = "Agregar Plan de Mantenimiento";
            }
        }

    </script>
}